@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hjemme<br />
</address>

<address>
    <strong>Support:</strong>   Vent på svar<br />
    <strong>Marketing:</strong> Driver ikke med slikt
</address>