@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DropStore</h1>
    <p class="lead">Logg over leveranser gjort til din kasse</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gå til Logg</h2>
        <p>
            Velg LOGG i menyen.
        </p>
    </div>
</div>